.align-text-middle {
    align-self: center;
}

.hor-text-center {
    text-align: center;
}

.btn-max-width {
    max-width: 24px;
}

.icon-size {
    min-height: 32px;
    min-width: 32px;
}

.small-cell {
    width: 12.5% !important;
}

.big-cell {
    width: 50% !important;
}

.skeleton-text-numbers{
    width: 12px;
    margin: 0 auto;
}
