<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/practitioner-list" text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Exercícios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
    <div class="webbrowser" *ngIf="!isLoading">
        <ion-item button="true" (click)="onClick()">
            <ion-label>Adicionar exercício</ion-label>
            <ion-icon name="add-outline"></ion-icon>
        </ion-item>

        <ion-row class="webbrowser ion-padding ion-justify-content-center" *ngIf="!hasExercises">
            <ion-note>Não há nenhum exercício adicionado</ion-note>
        </ion-row>
        <ion-list *ngIf="hasExercises">
            <ion-grid>
                <ion-row class="bold-text">
                    <ion-col size="6" class="ion-padding-start">Exercício</ion-col>
                    <ion-col size="1.5">{{(appWidth!.appWidth > minWidthForFullText) ? "Séries" : "S"}}</ion-col>
                    <ion-col size="1.5">{{(appWidth!.appWidth > minWidthForFullText) ? "Repet." : "R"}}</ion-col>
                    <ion-col size="1.5">{{(appWidth!.appWidth > minWidthForFullText) ? "Desc." : "D"}}</ion-col>
                    <ion-col size="1.5">{{(appWidth!.appWidth > minWidthForFullText) ? "Carga" : "C"}}</ion-col>
                </ion-row>

                <ion-row *ngFor="let exercise of practitionerExercises" style="flex-wrap: nowrap">
                    <ion-col class="align-text-middle" size="6">
                        <ion-item (click)="onClick(exercise)" button="true" lines="none">
                            {{exercise.exercise!.name}}
                        </ion-item>
                    </ion-col>
                    <ion-col class="align-text-middle" size="1.5"> {{exercise.series}} </ion-col>
                    <ion-col class="align-text-middle" size="1.5"> {{exercise.repetition}} </ion-col>
                    <ion-col class="align-text-middle" size="1.5"> {{exercise.rest}} </ion-col>
                    <ion-col class="align-text-middle" size="1.5"> {{exercise.load}} </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>
</ion-content>
