<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Configurações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="webbrowser">
        <ion-list>
            <ion-item id="auto-trigger" detail="false">
                <ion-label>Tema</ion-label>
                <ion-select interface="alert" (ionChange)="ChangeColorTheme()" [(ngModel)]="colorTheme" cancelText="Cancelar">
                    <ion-select-option value="MatchSystem">Padrão do Sistema</ion-select-option>
                    <ion-select-option value="Dark">Escuro</ion-select-option>
                    <ion-select-option value="Light">Claro</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item button="true" (click)="ChangeAccountName()">
                <ion-label>Alterar nome da conta</ion-label>
            </ion-item>

            <ion-item button="true" (click)="LogoutBtn()">
                <ion-label>Sair</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
