<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/practitioner-profile/{{practitionerID}}" text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Adicionar Ciclo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [hidden]="isLoading" class="webbrowser">
        <ion-item lines="full">
            <ion-select [(ngModel)]="selectedTemplateName" interface="alert" cancelText="Cancelar" placeholder="Escolha um ciclo" (ionChange)="changedTemplate(selectedTemplateName)">
                <ion-select-option *ngFor="let template of templatesList" [value]="template.name"> {{template.name}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-list class="ion-no-padding">
            <div *ngIf="selectedTemplate?.exercises">
                <ion-item lines="none" class="bold-text full-width">
                    <div class="big-cell">Exercício</div>
                    <div class="align-text-middle small-cell hor-text-center">S</div>
                    <div class="align-text-middle small-cell hor-text-center">R</div>
                    <div class="align-text-middle small-cell hor-text-center">D</div>
                    <div class="align-text-middle small-cell hor-text-center">C</div>
                </ion-item>

                <ion-item *ngFor="let exercise of selectedTemplate!.exercises">
                    <ion-checkbox slot="start" (ionChange)="OnCheck(exercise)"></ion-checkbox>
                    <ion-text class="big-cell"> {{exercise.name}} </ion-text>
                    <div class="align-text-middle small-cell hor-text-center">S</div>
                    <div class="align-text-middle small-cell hor-text-center">R</div>
                    <div class="align-text-middle small-cell hor-text-center">D</div>
                    <div class="align-text-middle small-cell hor-text-center">C</div>
                </ion-item>
            </div>
        </ion-list>

    </div>
</ion-content>
