

.pre-wrap {
    white-space: pre-wrap;
}

.text-div {
    margin-right: auto;
}

.side-btn-margin {
    margin-top: 1.1rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .bottom-row-margin {
        margin: 0 .5rem;
    }
}
