<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/practitioner-list" text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Aluno</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/practitioner-form/{{practitionerID}}">
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deletePracBtn()">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="webbrowser" *ngIf="!isLoading">
        <ion-list class="ion-padding">
            <div class="flex">
                <h1 class="ion-margin-bottom text-div"> {{practitionerInfo?.name}} </h1>
                <div>
                    <ion-button class="side-btn-margin">Marcar</ion-button>
                </div>
            </div>
            <div>
                <p class="bold-text">Objetivos</p>
                <p class="pre-wrap" *ngIf="practitionerInfo?.objectives">{{practitionerInfo?.objectives}}</p>
                <ion-note *ngIf="!practitionerInfo?.objectives">Nenhum objetivo listado</ion-note>
                <p class="bold-text">Observações</p>
                <p class="pre-wrap" *ngIf="practitionerInfo?.observations">{{practitionerInfo?.observations}}</p>
                <ion-note *ngIf="!practitionerInfo?.observations">Nenhuma observação listada</ion-note>
            </div>
        </ion-list>
        <ion-row class="ion-justify-content-center bottom-row-margin">
            <ion-button class="full-width margin-top-1">Presenças</ion-button>
            <ion-button class="full-width margin-top-1" routerLink="/practitioner-exercise/{{practitionerID}}">Exercícios</ion-button>
        </ion-row>
    </div>
</ion-content>
