<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/practitioner-list" text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Aluno</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="webbrowser" *ngIf="!isLoading">
        <ion-list class="ion-padding">
            <div class="flex">
                <div class="text-div">
                    <h1 class="ion-margin-bottom"> {{practitionerInfo?.name}} </h1>
                    <p class="bold-text">Objetivos</p>
                    <p class="pre-wrap">{{practitionerInfo?.objectives}}</p>
                    <p class="bold-text">Observações</p>
                    <p class="pre-wrap">{{practitionerInfo?.observations}}</p>
                </div>
                <div>
                    <ion-button class="side-btn-margin">Marcar</ion-button>
                </div>
            </div>
        </ion-list>
        <ion-row class="ion-justify-content-center">
            <ion-button class="full-width">Presenças</ion-button>
            <ion-button class="full-width">Exercícios</ion-button>
        </ion-row>
    </div>
</ion-content>
