<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Alunos</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-row class="webbrowser ion-padding ion-justify-content-center" *ngIf="practitionerArrayIsEmpty && !fetchingData">
            <ion-note>Não há nenhum aluno registrado</ion-note>
        </ion-row>
        <div class="webbrowser" *ngIf="!practitionerArrayIsEmpty && !fetchingData">
            <ion-item>
                <ion-item>
                    <ion-icon name="search-outline"></ion-icon>
                </ion-item>
                <ion-input placeholder="Pesquisar" [clearInput]="true" [(ngModel)]="searchFilter" (ionChange)="SearchNames()"></ion-input>
            </ion-item>
            <ion-row class="webbrowser ion-padding ion-justify-content-center" *ngIf="!allPractitioners || (allPractitioners && allPractitioners.length < 1)">
                <ion-note>Nenhum aluno encontrado</ion-note>
            </ion-row>
            <ion-list *ngIf="allPractitioners && allPractitioners.length > 0">
                <ion-item button="true" *ngFor="let practitioner of allPractitioners" routerLink="practitioner-profile/{{practitioner.thisObjectID}}">
                    <ion-label>{{practitioner.name}}</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button routerLink="practitioner-form">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</div>
