.align-text-middle {
    align-self: center;
}

.btn-max-width {
    max-width: 24px;
}

.icon-size {
    min-height: 32px;
    min-width: 32px;
}

.small-cell {
    width: 35% !important;
}

.big-cell {
    width: 50% !important;
}

.marcar-dia-item{
    margin-left: auto;
}

.marcar-dia-button-text{
    padding: 0 4px;
}

.skeleton-text-dayofweek{
    width: 24px;
}
