<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/practitioner-list" text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title> {{(practitionerID) ? "Alterar" : "Criar"}} Aluno</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="spinner-div" *ngIf="isLoading">
        <ion-spinner name="crescent" class="big-spinner"></ion-spinner>
    </div>
    <div [hidden]="isLoading" class="webbrowser">
        <ion-list>
            <ion-item class="ion-margin-horizontal">
                <ion-label position="floating">Nome do aluno</ion-label>
                <ion-input [(ngModel)]="practitioner.name" (keyup.enter)="EnterPressed()"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-horizontal">
                <ion-label position="floating">Objetivos</ion-label>
                <ion-textarea autoGrow=true [(ngModel)]="practitioner.objectives"></ion-textarea>
            </ion-item>
            <ion-item class="ion-margin-horizontal">
                <ion-label position="floating">Observações</ion-label>
                <ion-textarea autoGrow=true [(ngModel)]="practitioner.observations"></ion-textarea>
            </ion-item>
        </ion-list>
        <ion-row class="ion-justify-content-center bottom-items-margin">
            <ion-button class="full-width margin-top-1" [disabled]="!practitioner.name" (click)="OnClick()"> {{(practitionerID) ? "Alterar" : "Criar"}} </ion-button>
        </ion-row>
    </div>

</ion-content>
