<ion-content>
    <div class="centralized" #LoginDiv>
        <ion-col>
            <ion-item class="ion-margin">
                <ion-label position="floating">Username</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-label position="floating">Password</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-button class="full-width">Log In</ion-button>
        </ion-col>
        <div class="messageText">
            <ion-text class="ion-text-center">Entre em contato com o administrador do sistema para obter acesso.</ion-text>
        </div>
    </div>
</ion-content>
