.gym-name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(var(--calculatedOffset));
    font-size: xxx-large;
    white-space: nowrap;
}

.login-div {
    max-width: 500px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(var(--calculatedOffsetX), var(--calculatedOffsetY));
}

.full-width {
    width: 100%;
    padding: 0 1rem;
    margin-inline: 0;
}

.message-text {
    margin-top: 1.25rem;
    opacity: 75%;
    text-align: center;
}
