<ion-content>
    <h1 class="gym-name" #GymName>Viva +</h1>
    <div class="centralized" #LoginDiv>
        <ion-col>
            <ion-item class="ion-margin-horizontal">
                <ion-label position="floating">Usuario</ion-label>
                <ion-input [(ngModel)]="username" (ionInput)="ChangeOnInput()"></ion-input>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-label position="floating">Senha</ion-label>
                <ion-input [(ngModel)]="password" type="password" (ionInput)="ChangeOnInput()"></ion-input>
            </ion-item>
            <ion-button class="full-width" (click)="LoginBtn()" [disabled]="inputIsEmpty" [style]="typingStage">Entrar</ion-button>
        </ion-col>
        <div class="message-text ion-margin-bottom">
            <ion-spinner name="crescent" class="big-spinner" [style]="loadingStage"></ion-spinner>
            <p class="ion-text-center" [style]="typingStage" #Message>Entre em contato com o administrador do sistema para obter acesso.</p>
        </div>
    </div>
</ion-content>
