.gym-name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(var(--calculatedOffset));
    font-size: xxx-large;
}

.centralized {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(var(--calculatedOffset));
}

.full-width {
    width: 100%;
    padding: 0 1rem;
    margin-inline: 0;
}

.big-spinner {
    transform: scale(2.3);
}

.message-text {
    margin-top: 1.25rem;
    opacity: 75%;
    text-align: center;
}
