<ion-app>
    <ion-menu contentId="main-content" [menuId]="menuId" *ngIf="firebaseResponded">
        <ion-header>
            <ion-toolbar>
                <ion-title> {{gymName}} </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/home" detail="false">Home</ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/practitioners" detail="false">Alunos</ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/exercises" detail="false">Exercícios</ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
        <ion-footer>
            <ion-toolbar>
                <div class="flex ion-padding">
                    <div>
                        <p class="no-margin" [hidden]="isLoadingDeviceName"> {{displayUsername}} </p>
                        <p class="no-margin small-text" [hidden]="isLoadingDeviceName"> {{deviceName}} </p>
                        <ion-spinner name="dots" class="spinner" [hidden]="!isLoadingDeviceName"></ion-spinner>
                    </div>
                    <div class="margin-left-auto">
                        <ion-menu-toggle>
                            <ion-button routerDirection="forward" routerLink="/config">
                                <ion-icon name="settings" class="settingsIcon"></ion-icon>
                            </ion-button>
                        </ion-menu-toggle>
                    </div>
                </div>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>

    <ion-router-outlet></ion-router-outlet>
</ion-app>
