<ion-app>
    <ion-menu contentId="main-content" [menuId]="menuId" *ngIf="firebaseResponded">
        <ion-header>
            <ion-toolbar>
                <ion-title> {{gymName}} </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/home" detail="false">Home</ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/practitioner-list" detail="false">Alunos</ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/template-list" detail="false">Templates</ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item button="true" routerLink="/exercise-list" detail="false">Exercícios</ion-item>
                </ion-menu-toggle>
                <ion-item button="true" href="https://github.com/Dwyriel/Gym-System" target="_blank" detail="false" lines="start">
                    <ion-icon name="logo-github" slot="end" color="white"></ion-icon>
                    <ion-label>Código</ion-label>
                </ion-item>
            </ion-list>

        </ion-content>
        <ion-footer>
            <ion-toolbar>
                <div class="flex ion-padding">
                    <div class="flex ion-align-items-center">
                        <ion-text class="no-margin" [hidden]="!displayUsername"> {{displayUsername}} </ion-text>
                        <ion-spinner name="dots" class="spinner" [hidden]="displayUsername"></ion-spinner>
                    </div>
                    <div class="margin-left-auto">
                        <ion-menu-toggle>
                            <ion-button routerDirection="forward" routerLink="/config">
                                <ion-icon name="settings" class="settingsIcon"></ion-icon>
                            </ion-button>
                        </ion-menu-toggle>
                    </div>
                </div>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
