<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Exercícios</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-row class="webbrowser ion-padding ion-justify-content-center" *ngIf="exercisesArrayIsEmpty && !fetchingData">
            <ion-note>Não há nenhum exercício registrado</ion-note>
        </ion-row>
        <div class="webbrowser" *ngIf="!exercisesArrayIsEmpty && !fetchingData">
            <ion-item>
                <ion-item>
                    <ion-icon name="search-outline"></ion-icon>
                </ion-item>
                <ion-input placeholder="Pesquisar" [clearInput]="true" [(ngModel)]="searchFilter" (ionChange)="SearchNames()"></ion-input>
            </ion-item>
            <ion-row class="webbrowser ion-padding ion-justify-content-center" *ngIf="exercisesByCategory && exercisesByCategory.length < 1">
                <ion-note>Nenhum exercício encontrado</ion-note>
            </ion-row>
            <ion-list *ngFor="let category of exercisesByCategory" lines="full">
                <ion-list-header class="ion-text-center">{{category.categoryName}}</ion-list-header>
                <ion-item *ngFor="let exercise of category.exercises">
                    <ion-label class="ion-padding-start">{{exercise.name}}</ion-label>
                    <ion-item button="true" routerLink="/exercise-form/{{exercise.thisObjectID}}" detail="false">
                        <ion-icon name="pencil-outline"></ion-icon>
                    </ion-item>
                    <ion-item button="true" (click)="DeleteExerciseBtn(exercise!)" detail="false">
                        <ion-icon name="trash"></ion-icon>
                    </ion-item>
                </ion-item>
            </ion-list>
        </div>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button routerLink="/exercise-form">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</div>
