/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-popover {
    --width: 80% !important;
    --max-width: 320px;
}

.webbrowser {
    max-width: var(--mobile-max-width);
    margin: 0 auto;
    padding-top: var(--desktop-padding-top);
    padding-bottom: var(--desktop-padding-top);
}

.flex {
    display: flex;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.bold-text {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.margin-top-1 {
    margin-top: 1rem;
}

.big-spinner {
    transform: scale(2.3);
}

.spinner-div {
    max-width: 500px;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(var(-64.4px), var(-64.4px));
}

@media (max-width: 850px) {
    .has-add-fab-on-bottom {
        margin-bottom: 4.2rem;
    }
}
@media (max-width: 768px) {
    .bottom-items-margin {
        margin: 0 .5rem;
    }
}
