<ion-menu contentId="main-content" menu-id="menu">
    <ion-content class="ion-padding">

    </ion-content>
    <ion-footer class="ion-padding flex">
        <div>
            <p class="no-margin" [hidden]="isLoading"> {{displayUsername}} </p>
            <p class="no-margin small-text" [hidden]="isLoading"> {{deviceName}}</p>
            <ion-spinner name="dots" class="spinner" [hidden]="!isLoading"></ion-spinner>
        </div>
        <div class="margin-left-auto">
            <ion-button (click)="LogoutBtn()">Sair</ion-button>
        </div>
    </ion-footer>
</ion-menu>
