<ion-datetime *ngIf="!showOnlyPresence" presentation="date" (ionChange)="onDateChange($event)" [value]="date?.toISOString()" [isDateEnabled]="disableSpecificDays" [max]="maxDay" locale="pt-BR"></ion-datetime>
<ion-row *ngIf="!showOnlyDate" class="ion-padding-horizontal ion-padding-top">
    <ion-col size="6">
        <ion-button [fill]="!wasPresent ? 'solid' : 'outline'" expand="block" (click)="wasPresent = false">Falta</ion-button>
    </ion-col>
    <ion-col size="6">
        <ion-button [fill]="wasPresent ? 'solid' : 'outline'" expand="block" (click)="wasPresent = true">Presença</ion-button>
    </ion-col>
</ion-row>
<ion-row class="ion-justify-content-end">
    <ion-item color="none" lines="none">
        <ion-button fill="clear" (click)="dismissPopover(false)">Cancelar</ion-button>
        <ion-button fill="clear" (click)="dismissPopover(true)" style="width: 3rem" [disabled]="(showOnlyDate || !showOnlyDate && !showOnlyPresence) && !dateAsString">Ok</ion-button>
    </ion-item>
</ion-row>
